name: Build_x86_64

on: 
  repository_dispatch:
  workflow_dispatch:

jobs:
  Build_x86_64:
    runs-on: ubuntu-18.04

    steps:
    - name: Checkout
      uses: actions/checkout@master

    - name: Initialization environment
      env:
        DEBIAN_FRONTEND: noninteractive
      run: |
        docker rmi `docker images -q`
        echo "Deleting files, please wait ..."
        sudo rm -rf \
          /usr/share/dotnet \
          /etc/mysql \
          /etc/php
        sudo -E apt-get -y purge \
          azure-cli \
          ghc* \
          zulu* \
          hhvm \
          llvm* \
          firefox \
          google* \
          dotnet* \
          powershell \
          openjdk* \
          mysql* \
          php*
        sudo -E apt-get update
        sudo -E apt-get -y install build-essential asciidoc binutils bzip2 gawk gettext git libncurses5-dev patch unzip lib32gcc1 libc6-dev-i386 subversion flex node-uglify gcc-multilib g++-multilib p7zip p7zip-full msmtp libssl-dev texinfo libglib2.0-dev xmlto qemu-utils  libelf-dev autoconf automake libtool autopoint device-tree-compiler libuv-dev python3.6 zlib1g-dev upx-ucl node-uglify antlr3 gperf wget swig rsync
        sudo -E apt-get -y autoremove --purge
        sudo -E apt-get clean
    - name: Server Benchmark
      run: |
        wget -qO- --no-check-certificate https://raw.githubusercontent.com/Kurokosama/serverbench/main/bench.sh | bash
    - name: Clone source code
      env: 
        REPO_URL: https://github.com/coolsnowwolf/lede
        REPO_BRANCH: master
      run: |
        git clone --depth 1 $REPO_URL -b $REPO_BRANCH openwrt
        cd openwrt
        sed -i '11s/#//' feeds.conf.default

    - name: Update & Install feeds
      working-directory: ./openwrt
      run: |
        ./scripts/feeds update -a
        ./scripts/feeds install -a
        ./scripts/feeds install -a

    - name: Configuration Customization - Build_x86_64
      env:
        CONFIG_FILE: 'x86_64.config'
      run: |
        [ -e $CONFIG_FILE ] && mv $CONFIG_FILE openwrt/.config
        chmod +x ./customize.sh && ./customize.sh
        cd openwrt && make defconfig
        
    - name: Download package
      working-directory: ./openwrt
      run: |
        make download -j$(nproc)
        find dl -size -1024c -exec ls -l {} \;
        find dl -size -1024c -exec rm -f {} \;

    - name: Build firmware
      working-directory: ./openwrt
      run: |
        make -j$(nproc)
        mv -f "bin/targets/x86/64/openwrt-x86-64-generic-squashfs-combined.img" "openwrt-x86-64-generic-squashfs-combined.img"
        mv -f "bin/targets/x86/64/openwrt-x86-64-generic-squashfs-combined-efi.img" "openwrt-x86-64-generic-squashfs-combined-efi.img"
#        mv -f "openwrt-x86-64-generic-squashfs-rootfs.img" "openwrt-x86-64-generic-squashfs-rootfs.img"  Nonody use rootfs for X86, right?
    - name: Upload OpenWrt Combined Firmware
      uses: actions/upload-artifact@v2
      with:
        name: openwrt-x86-64-generic-squashfs-combined.img
        path: /openwrt/openwrt-x86-64-generic-squashfs-combined.img
    - name: Upload OpenWrt UEFI Firmware
      uses: actions/upload-artifact@v2
      with:
        name: openwrt-x86-64-generic-squashfs-combined-efi.img
        path: /openwrt/openwrt-x86-64-generic-squashfs-combined-efi.img
    - name: Upload OpenWrt IPK Packages
      uses: actions/upload-artifact@v2
      with:
        name: IPK Packages
        path: /openwrt/bin/packages
     - name: Prepare Release Zip File
      working-directory: ./openwrt
      id: assemble_artifact
      run: |
        zip OpenWrt-X86_64.zip openwrt-x86-64-generic-squashfs-combined.img openwrt-x86-64-generic-squashfs-combined-efi.img
        release_tag="X86_64-$(date +%Y-%m-%d)"
        echo "##[set-output name=release_tag;]$release_tag"    
    - name: Create Release
      id: create_release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ steps.assemble_artifact.outputs.release_tag }}
        release_name: Build ${{ steps.assemble_artifact.outputs.release_tag }}
        draft: false
        prerelease: false
    - name: Upload Release Asset
      id: upload-release-asset 
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: /openwrt/OpenWrt-X86_64.zip
        asset_name: OpenWrt-X86_64.zip
        asset_content_type: application/zip

#  Cleanup-Old-Artifacts:
#    needs: [Build_x86_64]
#    runs-on: ubuntu-18.04
#    steps:
#    - name: Cleanup Old Action Artifacts
#      uses: kolpav/purge-artifacts-action@v1
#      with:
#        token: ${{ github.token }}
#        expire-in: 7d
#  Cleanup-Workflow-Runs:
#    needs: Cleanup-Old-Artifacts
#    runs-on: ubuntu-18.04
#    steps:
#      - name: Cleanup Workflow Runs
#        uses: GitRML/delete-workflow-runs@v1.2.1
#        with:
#          token: ${{ github.token }}
#          repository: ${{ github.repository }}
#          retain_days: 7   